# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives** : 
<ul>
  <li>To inform popular languages used by data scientists</li>
  <li>To list commonly used libraries used by data scientists</li>
  <li>To list some of data science spen source development environment</li>
  <li>To show examples of arithmetic expression in Python including summation, multiplication, and divison</li>
</ul>

Some of the popular languages that Data Scientists use are :
<ol>
  <li>Python</li>
  <li>R</li>
  <li>SQL</li>
  <li>Java</li>
  <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include :
<ol>
  <li>NumPy</li>
  <li>Pandas</li>
  <li>Matplotlib</li>
  <li>Scikit-Learn</li>
  <li>Seaborn</li>
</ol>

<table style="width:100%">
  <tr>
    <th> Data Science Tools</th>
  </tr>
  <tr>
    <td>Jupyter</td>
  </tr>
  <tr>
    <td>RStudio</td>
  </tr>
 <tr>
    <td>Apache Spark</td>
  </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [1]:
200/60

3.3333333333333335

## Author
Alam Inggil